name: 'Test modifying a Rubik Pi image'
on:
  push:
    branches:
      - 'main'
      - 'releases/**'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          image_url: https://people.canonical.com/~platform/images/qualcomm-iot/rubikpi3/ubuntu-server-24.04/x01/ubuntu-24.04-preinstalled-server-arm64+rubikpi3-20250926-145.yaml
          minimum_free_mb: 2000
          root_location: "offset=569376768"
          shrink_image: "no"
          boot_partition: ""
          commands: |
              echo "Testing Rubik Pi image"
              uname -a
              lsblk
              echo "${loopdev}"
        id: build_image

      - name: Test using image file
        uses: ./  # photonvision/photon-image-runner@HEAD
        with:
          image_url: "file://${{ steps.build_image.outputs.image }}"
          root_location: "offset=569376768"
          shrink_image: "no"
          boot_partition: ""
          commands: |
              echo "Testing file access Rubik Pi image"
              uname -a
              lsblk
              echo "/boot contents:"
              ls -la /boot
              touch /boot/photon-image-modifier-file-was-here

      - name: Compress image
        run: |
            imagedir=$(dirname ${{ steps.build_image.outputs.image }})
            tardir=photonvision_rubikpi3_fromYAML
            mkdir --parents ${tardir}
            echo "Contents of imagedir: ${imagedir}"
            ls -la ${imagedir}
            if ls ${imagedir}/*.tar.gz 1>/dev/null 2>&1; then
              sudo tar -xzf ${imagedir}/*.tar.gz -C ${tardir}
            fi
            sudo mv ${imagedir}/rawprogram*.xml ${tardir}/ 2>/dev/null || true
            sudo mv ${imagedir}/dtb.bin ${tardir}/ 2>/dev/null || true
            sudo mv ${imagedir}/*.img ${tardir}/ 2>/dev/null || true
            echo "Before cleanup contents of tardir: ${tardir}"
            ls -la ${tardir}
            sudo find ${tardir} -mindepth 2 -type f -exec mv {} ${tardir}/ \;
            sudo find ${tardir} -mindepth 1 -type d -empty -delete
            echo "After cleanup contents of tardir: ${tardir}"
            ls -la ${tardir}
            sudo tar -I 'xz -T0' -cf ./photonvision_rubikpi3_fromYAML.tar.xz ${tardir} --checkpoint=10000 --checkpoint-action=echo='%T'
      - uses: actions/upload-artifact@v6
        with:
          name: photonvision_rubikpi3_fromYAML.tar.xz
          path: ./photonvision_rubikpi3_fromYAML.tar.xz
          compression-level: 0
          if-no-files-found: error
          retention-days: 1


