name: 'Test modifying a Raspberry Pi image'
on:
  push:
    branches:
      - 'main'
      - 'releases/**'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./  # photonvision/photon-image-runner@HEAD
        with:
          image_url: https://downloads.raspberrypi.com/raspios_lite_arm64/images/raspios_lite_arm64-2025-05-13/2025-05-13-raspios-bookworm-arm64-lite.img.xz
          additional_mb: 200
          minimum_free_mb: 500
          commands: |
              echo "Testing Raspberry Pi image"
              uname -a
              lsblk
              echo "${loopdev}"
              echo "/boot contents:"
              ls -la /boot
              touch /boot/photon-image-modifier-was-here
        id: build_image
      - name: Compress image
        run: |
            sudo xz -T 0 -v ${{ steps.build_image.outputs.image }}
      - uses: actions/upload-artifact@v4
        with:
          name: raspi.img.xz
          path: ${{ steps.build_image.outputs.image }}.xz
          compression-level: 0
          if-no-files-found: error
          retention-days: 1


