name: 'Test modifying a Raspberry Pi image'
on:
  push:
    branches:
      - 'main'
      - 'releases/**'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: photonvision/photon-image-runner@HEAD
        with:
          image_url: https://downloads.raspberrypi.com/raspios_lite_arm64/images/raspios_lite_arm64-2025-05-13/2025-05-13-raspios-bookworm-arm64-lite.img.xz
          commands: |
              echo "Testing Raspberry Pi image"
              uname -a
              lsblk
              cat /proc/cpuinfo



